@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

img {
    width: 50%;
    display: flex;
}

a {
    text-decoration: none;
}

header #particles {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #001824;
    overflow: auto;
    position: relative;
    z-index: 1;
}

nav {
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    text-shadow: 0 0 1ex #3f3, 0 0 2px rgba(255, 255, 255, .8);
}


.nav-logo {
    max-width: 100px;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.nav-links a {
    position: relative;
    padding-bottom: 0.75rem;
    color: #7fff7f;
}

.link a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #7fff7f;
    transition: all 0.3s ease;
}

.link a:hover::after {
    width: 70%;
}

.btn {
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #7fff7f;
    /* Set the text color */
    background-color: transparent;
    /* Set the background color to transparent */
    border: none;
    /* Remove the border */
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    text-decoration: underline;
    /* Add underline on hover if you want */
    color: #4caf50;
    /* Change text color on hover if desired */
}


.container {
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;
}

.container h2 {
    color: #7fff7f;
    text-shadow: 0 0 1ex #3f3, 0 0 2px rgba(255, 255, 255, .8);
}

.container p {
    color: #7fff7f;
    text-shadow: 0 0 1ex #3f3, 0 0 2px rgba(255, 255, 255, .8);
}

.blur {
    position: absolute;
    box-shadow: 0 0 1000px 50px #1d4ed8;
    z-index: -100;
}

header {
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

header .content h4 {
    margin-bottom: 1rem;
    color: #7fff7f;
    font-size: 1rem;
    font-weight: 600;
    text-shadow: 0 0 1ex #3f3, 0 0 2px rgba(255, 255, 255, .8);
}

header .content h1 {
    color: #fff;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
}

header .content h1 span {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #7fff7f;
}

header .content p {
    margin-bottom: 2rem;
    color: #7fff7f;
    text-shadow: 0 0 1ex #3f3, 0 0 2px rgba(255, 255, 255, .8);
}

section .header {
    margin-bottom: 1rem;
    color: #7fff7f;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 600;
    text-shadow: 0 0 1ex #3f3, 0 0 2px rgba(255, 255, 255, .5);
}


footer {
    position: relative;
    display: grid;
    grid-template-columns: 400px repeat(3, 1fr);
    gap: 2rem;
    text-shadow: 0 0 1ex #3f3, 0 0 2px rgba(255, 255, 255, .8);
}

footer .column .logo {
    max-width: 100px;
    margin-bottom: 2rem;
}

footer .column p {
    color: #ccc;
    margin-bottom: 2rem;
}

footer .column .socials {
    display: flex;
    align-items: center;
    gap: 1rem;
}

footer .column .socials a {
    color: #ccc;
    border: 1px solid #ccc;
    padding: 5px 10px;
    font-size: 1.25rem;
    border-radius: 100%;
    transition: all 0.3s ease;
}

footer .column .socials a:hover {
    color: #fff;
    background-color: #1d4ed8;
    border-color: #1d4ed8;
}

footer .column h4 {
    color: #7fff7f;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
}

footer .column>a {
    display: block;
    color: #ccc;
    margin-bottom: 1rem;
    transition: all 0.3s ease;
}

footer .column>a:hover {
    color: #1d4ed8;
}

.copyright {
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    color: #fff;
    font-size: 0.8rem;
    text-align: center;
}

@media (width < 900px) {
    .nav-links {
        display: none;
    }

    header {
        grid-template-columns: repeat(1, 1fr);
    }

    header .image {
        grid-area: 1/1/2/2;
    }

    .features {
        grid-template-columns: repeat(2, 1fr);
    }

    .pricing {
        grid-template-columns: repeat(2, 1fr);
    }

    footer {
        grid-template-columns: 1fr 200px;
    }
}

main {
    padding: 50px;
}

@media (width < 600px) {
    header .image::before {
        display: none;
    }

    .features {
        grid-template-columns: repeat(1, 1fr);
    }

    .pricing {
        grid-template-columns: repeat(1, 1fr);
    }

    footer {
        grid-template-columns: 1fr 150px;
    }
}

.color-buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
}

.color-button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.color-button:nth-child(1) {
    background-color: #ff5733;
}

.color-button:nth-child(2) {
    background-color: #33ff57;
}

.color-button:nth-child(3) {
    background-color: #5733ff;
}

.color-button:nth-child(4) {
    background-color: #ffff33;
}